<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=<%= charset %>" />
    <title><%= defined?(@title) ? @title : '' %></title>
    <%= erb(:headers) %>

    <!-- Additional settings for MathJax are from here. -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax:{
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
        }
      });
    </script>
    <script type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
    </script>
    <meta http-equiv="X-UA-Compatible" CONTENT="IE=EmulateIE7" />
    <!-- Additional settings for MathJax are over here. -->

  </head>
  <body>
    <div id="content">
      <h1><%= defined?(@title) ? @title : '' %></h1>
      <%= yieldall %>
    </div>

    <%= erb(:footer) %>
  </body>
</html>
